body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    background-color: #000;
}

/* -----------------------header------------------------------ */

header {
    background: url(./pics/header.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 80px;
}

.nav-list {
    display: flex;
    list-style: none;
    padding: 30px 0;
}

a {
    position: relative;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    transition: all 0.3s;
}

a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease-in-out;
}

a:hover::after {
    width: 100%;
}


.nav-items {
    position: relative;
    font-size: 27px;
    opacity: 0.8;
    margin: 27px;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    display: inline-block;
    padding: 0;
}

.nav-items::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: #ff3258;
    transition: width 0.3s ease-in-out;
}

.nav-items:hover::after {
    width: 100%;
}

.nav-items:hover {
    color: #ff3258;
}

.name {
    font-size: 80px;
    font-weight: 400;
    line-height: 1;
    margin: 0;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translateY(-50%);
}

.header-text p {
    font-size: 2.2rem;
    margin: 1.5rem 0 3.5rem;
}

.btn-pink {
    background-color: #ff3258;
    font-size: 25px;
    padding: 20px 50px;
}

.btn-pink:hover {
    background: transparent;
    border: 2px solid #ff3258;
}
/* ------------------------skills------------------------------- */
.skills-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 40px;
}
.skill-card{
    background-color: #111;
    padding: 2rem;
    border-radius: 20px;
    text-align: center;
    transition: transform  0.3s ease;
    
}
.skill-card h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.skill-card img{
    width: 50px;
    height: 50px;
}
.skill-card:hover{
    transform: translateY(-10px);
}
/* --------------------------------------work--------------------------------- */
section {
    padding: 100px 100px 100px 100px;
    border-bottom: 1px solid rgb(36, 35, 35);
}

section h2 {
    font-size: 50px;
    font-weight: 400;
    line-height: 1.2;
}

h2::after {
    content: '';
    display: block;
    width: 10rem;
    height: 2px;
    background-color: #ff3258;
    margin-top: 2rem;
}

.link-btn::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    background: #ff3258;
    height: 100%;
    z-index: -1;
    transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);

}

.work-box {
    display: flex;
    align-items: center;
    margin-bottom: 20rem;


}

.work-text {
    width: 50%;
    padding: 0 2rem;
}

h2,
h3 {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: 400;
    line-height: 1.2;
}

.work-image {
    object-fit: contain;
    width: 100%;

}

p {
    margin: 2.5rem 0;
    font-size: 1.3rem;
    opacity: 0.8;

}

.work-tech {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1.2rem;
    font-size: 1.3rem;
    opacity: 0.8;
}

.work-links {
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem;
}

.link-text {
    font-size: 1.3rem;
    padding: 0.4rem;
    text-decoration: none;
    border-bottom: 1px solid #ff3258;
}

.github {
    height: 30px;
    width: 30px;
}

.github:hover {
    transform: scale(1.2);
}

/* -------------------------clients------------------------------- */

.clients-logos {
    display: flex;
    justify-content: space-between;
    filter: invert(100%) grayscale(100%) opacity(0.8);
}

.about-pic {
    object-fit: contain;
    width: 100%;
    padding-right: 20px;
}

.about-me {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 1.2rem 4.2rem;
    text-decoration: none;
    border: 1px solid #ff3258;
    font-size: 1.3rem;
}

.btn::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    background: #ff3258;
    height: 100%;
    z-index: -1;
    transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
}

/* -----------------------------contact---------------------------------- */

.contact-text {
    font-size: 1.3rem;
    margin: 2.5rem 0;
    max-width: 800px;
}

/* -------------------------footer------------------------------------ */

.footer-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 3rem;
}

.footer-list li {
    margin: 0 1.5rem;
}

footer {
    text-align: center;
}

.foot-btn img {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
}

.foot-btn {
    display: inline-block;
    margin: 0 10px;
    background-color: white;
    color: black;
    border-radius: 10px;
    margin-bottom: 20px;
}

.foot-btn img:hover {
    transform: scale(1.2);
}

.b2:hover {
    color: blue;
}
.back-to-home {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ff3258;
  color: white;
  padding: 15px 15px;
  border-radius: 50%;
  font-size: 25px;
  transition: background 0.3s ease;
}

.back-to-home:hover {
  background-color: transparent;
}
/* -------------------------media queries------------------------------- */
@media (max-width: 1200px) {
    /* clients */
    .clients-logos {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .about-me {
        flex-direction: column-reverse;
        align-items: center;
    }
    .about-me img {
        width: 80%;
        height: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

@media (max-width:768px) {
    body{
        padding: 0%;
        margin: 0%;
    }
    header{
        text-align: center;
    }
    h2{
        font-size: 2.5rem;
    }
    nav{
        display: flex;
        justify-content: center;
        
    }
    .name {
        font-size: 50px;
    }
    .nav-list {
        padding: 0;
        font-size: 1rem;
        align-items: center;

    }
    .nav-items {
        font-size: 1.2rem;
        margin: 10px 10px;
    }
    .header-text {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        padding: 20px;
        
    }
    .header-text p {
        font-size: 1rem;
    }
    .btn-pink {
        font-size: 1rem;
        padding: 10px 20px;
    }
    /* work */
    .work-tech{
        list-style: none;
        padding: 0;
    }
    section {
        padding: 50px 20px;
    }
    .work-box {
        flex-direction: column;
        align-items: center;
    }
    .work-text {
        width: 100%;
        text-align: center;
    }
    .work-image {
        width: 100%;
        height: auto;
    }
    .work-links {
        flex-direction: column;
        align-items: center;
    }
    .link-text {
        font-size: 1rem;
        padding: 0.2rem;
    }
    /* clients */
    .clients-logos {
        flex-direction: column;
        align-items: center;
    }
    .clients-logos img {
        width: 80%;
        margin-bottom: 20px;
    }
    /* about */
    .about-me {
        flex-direction: column-reverse;
        align-items: center;

    }
    .about-me img{
        width: 80%;
        height: auto;
        margin-bottom: 20px;
    }
    .about-pic {
        width: 100%;
        height: auto;
        padding-right: 30px;
    }
    .btn {
        font-size: 1rem;
        padding: 0.8rem 2.8rem;
    }

    /* contact */
    .contact-text {
        font-size: 1rem;
        margin: 1.5rem 0;
    }
    /* footer */
    .footer-list {
        padding: auto;
        align-items: center;
    }
    .footer-list li {
        margin: 0 10px;
    }
    .foot-btn {
        padding: 5px 10px;
        font-size: 0.8rem;
    }
    .foot-btn img {
        width: 15px;
        height: 15px;
    }
}
@media (max-width: 380px) {
    .about-me img {
        width: 100%;
        height: auto;
        
    }
    .btn {
        padding: 0.5rem 2rem;
        font-size: 0.9rem;
    }
    section{
        padding: 50px 20px;
    }
    .work-tech{
        list-style: none;
    }
}