body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* -----------------------------------navbar------------------------------------- */
.navbar {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    font-size: 18px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

ul li {
    margin: 0 15px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #FFD700;
    text-decoration: underline;
    text-underline-offset: 7px;
}

.logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

h1:hover {
    color: #FFD700;
    text-decoration: underline;
    text-underline-offset: 7px;
}

/* --------------------------------main section----------------------------------- */
.hero {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

.hero-content h2 {
    font-size: 48px;
    margin-bottom: 10px;
    color: #FFD700;
}

.hero-content p {
    font-size: 20px;
    margin-bottom: 30px;
}

.btn {
    background-color: gold;
    color: black;
    padding: 12px 24px;
    border-radius: 10px;
    border: none;
    transition: background 0.3s ease;
}

.btn:hover {
    cursor: pointer;
    background-color: #444;
    color: #FFD700;
}

/* -------------------------------------skills section-------------------------------  */
.skills {
    background: #111;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.skills h2 {
    color: gold;
    margin-bottom: 30px;
    font-size: 32px;
}

.skill {
    max-width: 600px;
    margin: 20px auto;
    text-align: left;
}

.skill p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-weight: bold;
}

.skill-bar {
    background: #333;
    height: 20px;
    border-radius: 50px;
    overflow: hidden;
}

.skill-fill {
    height: 100%;
    background: gold;
}

/* Individual skill widths */
.skill-fill.html {
    width: 90%;
}

.skill-fill.css {
    width: 50%;
}

.skill-fill.js {
    width: 10%;
}

.skill-fill.react {
    width: 0%;
}

#skills {
    height: 60vh;
}

/* -----------------------------------projects section -------------------------------------*/
  
.work {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 3fr));
    padding: 20px;
    justify-content: center;
    gap: 50px;
}

.work-item {
    background-color: #444;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
}

.work-item:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 20px gold;
}
h2 {
    color: gold;
    font-size: 24px;
}

/* -------------------------------------contact-------------------------------  */

.contact {
    height: 60vh;
    padding: 40px 20px;
    background-color: #111;
    color: white;
    text-align: center;
}
.contact h2 {
    margin-bottom: 20px;
    margin-top: 100px ;
    font-size: 32px;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.contact ul  {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------------------------footer------------------------------ */

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}