body{
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    
}
.skills{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 40px 400px;
}
.skills h1 {
    color: gold;
    font-size: 2em;
    text-align: center;
}
.skills h1:hover {
    text-decoration: underline;
    text-underline-offset: 10px;

}
.skill{
    max-width: 600px;
    

}
.skill p{
    display: flex;
    justify-content: space-between;
    
}
.skill-bar{
    background-color: #333;
    border-radius: 5px;
    border-radius: 20px;
   
}
.skill-fill{
    background-color: gold;
    height: 30px;
    border-radius: 20px;
}
.skill-fill.html{
    width: 90%;
}
.skill-fill.css{
    width: 80%;
}
.skill-fill.js{
    width: 70%;
}
.skill-fill.python{
    width: 60%;
}

